<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".TemplateCaptureActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:replace="android:exported" />
        <receiver
            android:name=".DebugCommandReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.danmukey.debug.action.START_TEST_SEQUENCE" />
                <action android:name="com.danmukey.debug.action.TARGET_PROFILES_CHANGED" />
                <action android:name="com.danmukey.debug.action.SHOW_TASK_CONTROL" />
                <action android:name="com.danmukey.debug.action.HIDE_TASK_CONTROL" />
                <action android:name="com.danmukey.debug.action.START_CALIBRATION" />
                <action android:name="com.danmukey.debug.action.START_TEMPLATE_CAPTURE" />
                <action android:name="com.danmukey.debug.action.STOP_TASK" />
                <action android:name="com.danmukey.debug.action.APPLY_APPEARANCE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
